doctype html
html
  head
    title Change password
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/changepassword.css')
    link(rel='stylesheet', type='text/css', href='css/profile.css')
    link(href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.dcjqaccordion.2.7.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
          //sidebar push
          $('#drop').click(function(){
              var display = $('#nav-accordion').css("display");
              if(display != "none"){
                  $('#container').addClass('sidebar-closed');
                  $('#nav-accordion').attr("style", "display: none");
              }
              else{
                  $('#container').removeClass('sidebar-closed');
                  $('#nav-accordion').attr("style", "display: block");
              }
          });
          
            //animation dropdown
          $('.dcjq-parent-li').click(function(){
              var display =  $('.sub').css("display");
              if(display!="none"){
                  $(".sub").attr("style", "display:none");
                  $('.dcjq-parent-li a.active').removeClass("active");
              }
              else {
                  $(".sub").attr("style", "display:block");
                  $('.dcjq-parent-li a').addClass("active");
              }
          });
          
          $('ul.sidebar-menu li a').click(function(){
              $('ul.sidebar-menu li a').removeClass("active");
              $(this).addClass("active");        
          });
          
          $("#change").validate({      
              rules:{
                oldpassword:{
                    required: true,
                    minlength: 6
                },
                newpassword:{
                    required: true,
                    minlength: 6
                },
                renewpassword:{
                    required: true,
                    minlength: 6,
                    equalTo: "#newpassword"
                }
              },
              messages:{
                  oldpassword:{
                      required: "Please provide a password",
                      minlength: "Password must consist of at least 6 characters"
                  },
                  newpassword: {
                      required: "Please provide a password",
                      minlength: "Password must consist of at least 6 characters"
                  },
                  renewpassword:{
                      required:"Please provide a password",
                      minlength: "Password must consist of at least 6 characters",
                      equalTo: "Please enter the same password as bove"
                  }
              }
          });
      });
  body
    section#container
      // header start 
      header.header.white-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips#drop(data-placement='right', data-original-title='Toggle Navigation')
        a.logo(href='.')
          img(src='https://cdn2.tgdd.vn/Products/Images/1784/60331/Tu-Dien-Anh-Viet-Vlook-icon.png', width='30px', alt='Smart Dictionary')
        #top_menu.nav.notify-row
        .top-nav
          ul.nav.pull-right.top-menu
            li
              input.form-control.search(type='text', placeholder='Search')
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='#')
                img(src='http://web.hcmus.edu.vn/images/stories/logo-khtn.png', width='20px')
                span.username
                b.caret
              ul.dropdown-menu.extended.logout
                li(style='width:50%; background-color:#a9c;')
                  a(href='.')
                    i.fa.fa-suitcase(style='color:#fff')
                    span(style='color:#fff') Trang chủ
                li(style='width:50%; border-radius:0;')
                  a(href='/logout')
                    i.fa.fa-key Log Out
      aside
        #sidebar.nav-collapse(tabindex='5000', style='overflow:hidden; outline: none;')
          ul#nav-accordion.sidebar-menu
            li
              a.active(href='/profiles')
                i.fa.fa-dashboard
                //- span #{users.fullname}
            li.sub-menu.dcjq-parent-li
              a.dcjq-parent(href='javascript:;')
                i.fa.fa-user
                span Thông tin
                span.dcjq-icon
              ul.sub(style='display:none;')
                li
                  a(href='/profiles') Trang cá nhân
                li
                  a(href='/changepassword') Đổi mật khẩu
            li.sub-menu
              a
                i.fa.fa-envelope
                span Liên hệ
            li.sub-menu(style='margin-left:20px')
              a
                i.fa.fa-envelope-o
                |Email
                span 13clc@student.hcmus.edu.vn
            li.sub-menu(style='margin-left:20px')
              a
                i.fa.fa-phone
                span Điện thoại: 0974479487
      session#main-content
        .wrapper
          session.content
            .col-md-8.col-md-offset-2
              .panel.panel-default
                .panel-heading
                  b Đổi mật khẩu
                .panel-body
                  form.form-horizontal#change(role='form', action='/updatepass', method='post')
                    input(type='hidden', name='_token', value='')
                    .form-group
                      label.col-md-4.control-label Mật khẩu cũ
                      .col-md-6
                        input#oldpassword.form-control(type='password', name='oldpassword', value='', placeholder='Nhập mật khẩu đăng nhập', data-error='nhập mật khẩu')
                        - var err = errors;
                        - if (err != null ){
                          - if(err.length > 0){
                              .alert.alert-danger #{err}
                          - }
                        - }
                    .form-group
                      label.col-md-4.control-label Mật khẩu mới
                      .col-md-6
                        input#newpassword.form-control(type='password', name='newpassword', value='', placeholder='Nhập mật khẩu mới', data-error='nhập mật khẩu mới')
                    .form-group
                      label.col-md-4.control-label Nhập lại mật khẩu
                      .col-md-6
                        input#renewpassword.form-control(type='password', name='renewpassword', value='', placeholder='Nhập xác nhận mật khẩu', data-error='nhập xác nhận mật khẩu')
                    .form-group
                      .col-md-6.col-md-offset-4
                        button.btn.btn-primary(type='submit', name='button') Change
      footer.site-footer
        .text-center
          | Copyright 2017 © by My Group
          a.go-top(href='')
            i.fa.fa-angle-up
