<!DOCTYPE html>
<html>
  <head>
    <title>Change password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/changepassword.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.dcjqaccordion.2.7.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          //sidebar push
          $('#drop').click(function(){
              var display = $('#nav-accordion').css("display");
              if(display != "none"){
                  $('#container').addClass('sidebar-closed');
                  $('#nav-accordion').attr("style", "display: none");
              }
              else{
                  $('#container').removeClass('sidebar-closed');
                  $('#nav-accordion').attr("style", "display: block");
              }
          });

            //animation dropdown
          $('.dcjq-parent-li').click(function(){
              var display =  $('.sub').css("display");
              if(display!="none"){
                  $(".sub").attr("style", "display:none");
                  $('.dcjq-parent-li a.active').removeClass("active");
              }
              else {
                  $(".sub").attr("style", "display:block");
                  $('.dcjq-parent-li a').addClass("active");
              }
          });

          $('ul.sidebar-menu li a').click(function(){
              $('ul.sidebar-menu li a').removeClass("active");
              $(this).addClass("active");
          });

          $("#change").validate({
              rules:{
                oldpassword:{
                    required: true,
                    minlength: 6
                },
                newpassword:{
                    required: true,
                    minlength: 6
                },
                renewpassword:{
                    required: true,
                    minlength: 6,
                    equalTo: "#newpassword"
                }
              },
              messages:{
                  oldpassword:{
                      required: "Please provide a password",
                      minlength: "Password must consist of at least 6 characters"
                  },
                  newpassword: {
                      required: "Please provide a password",
                      minlength: "Password must consist of at least 6 characters"
                  },
                  renewpassword:{
                      required:"Please provide a password",
                      minlength: "Password must consist of at least 6 characters",
                      equalTo: "Please enter the same password as bove"
                  }
              }
          });
      });
    </script>
  </head>
  <body>
    <section id="container">
      <!-- header start -->
      <header class="header white-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" id="drop" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div><a class="logo" href="."><img src="https://cdn2.tgdd.vn/Products/Images/1784/60331/Tu-Dien-Anh-Viet-Vlook-icon.png" width="30px" alt="Smart Dictionary"></a>
        <div class="nav notify-row" id="top_menu"></div>
        <div class="top-nav">
          <ul class="nav pull-right top-menu">
            <li>
              <input class="form-control search" type="text" placeholder="Search">
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><img src="http://web.hcmus.edu.vn/images/stories/logo-khtn.png" width="20px"><span class="username"></span><b class="caret"></b></a>
              <ul class="dropdown-menu extended logout">
                <li style="width:50%; background-color:#a9c"><a href="."><i class="fa fa-suitcase" style="color:#fff"></i><span style="color:#fff">Trang chủ</span></a></li>
                <li style="width:50%; border-radius:0"><a href="/logout"><i class="fa fa-key">Log Out</i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <aside>
        <div class="nav-collapse" id="sidebar" tabindex="5000" style="overflow:hidden; outline: none">
          <ul class="sidebar-menu" id="nav-accordion">
            <li><a class="active" href="/profile"><i class="fa fa-dashboard"></i><%= users.fullname %></a></li>
            <li class="sub-menu dcjq-parent-li"><a class="dcjq-parent" href="javascript:;"><i class="fa fa-user"></i><span>Thông tin</span><span class="dcjq-icon"></span></a>
              <ul class="sub" style="display:none">
                <li><a href="/profiles">Trang cá nhân</a></li>
                <li><a href="/changepassword">Đổi mật khẩu</a></li>
              </ul>
            </li>
            <li class="sub-menu"><a><i class="fa fa-envelope"></i><span>Liên hệ</span></a></li>
            <li class="sub-menu" style="margin-left:20px"><a><i class="fa fa-envelope-o"></i>Email<span>13clc@student.hcmus.edu.vn</span></a></li>
            <li class="sub-menu" style="margin-left:20px"><a><i class="fa fa-phone"></i><span>Điện thoại: 0974479487</span></a></li>
          </ul>
        </div>
      </aside>
      <session id="main-content">
        <div class="wrapper">
          <session class="content">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                <div class="panel-heading"><b>Đổi mật khẩu</b></div>
                <div class="panel-body">
                  <form class="form-horizontal" id="change" role="form" action="/updatepass" method="post">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                      <label class="col-md-4 control-label">Mật khẩu cũ</label>
                      <div class="col-md-6">
                        <input class="form-control" id="oldpassword" type="password" name="oldpassword" value="" placeholder="Nhập mật khẩu đăng nhập" data-error="nhập mật khẩu">
                        
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label">Mật khẩu mới</label>
                      <div class="col-md-6">
                        <input class="form-control" id="newpassword" type="password" name="newpassword" value="" placeholder="Nhập mật khẩu mới" data-error="nhập mật khẩu mới">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label">Nhập lại mật khẩu</label>
                      <div class="col-md-6">
                        <input class="form-control" id="renewpassword" type="password" name="renewpassword" value="" placeholder="Nhập xác nhận mật khẩu" data-error="nhập xác nhận mật khẩu">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-4">
                        <button class="btn btn-primary" type="submit" name="button">Change</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </session>
        </div>
      </session>
      <footer class="site-footer">
        <div class="text-center">Copyright 2017 © by My Group<a class="go-top" href=""><i class="fa fa-angle-up"></i></a></div>
      </footer>
    </section>
  </body>
</html>
