<a href="javascript:void(0)" class="scrollToTop"><i class="fa fa-arrow-circle-up" style="font-size: 38px;color:#e8a92c;" aria-hidden="true"></i></a>
<footer class="myfooter">
    <div class="center-footer">
		<h1 class="logo-font">
      		<i class="fa fa-snowflake-o" style="color:#ed8712;" aria-hidden="true"></i>
      		smart dictionary
    	</h1>
    	<h6 class="normal-font">
    		@Created by 13CLC Hoang Tuan & An Dinh
    	</h6>
    	<h6 class="normal-font">
    		Email Contact: 1353051@student.hcmus.edu.vn
    	</h6>
	</div>
</footer>