<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/login.css" >-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .col-center-block {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      }
      body {
      background: url('http://hocwebgiare.com/thiet_ke_web_chuan_demo/bootstrap_login_bg/images/main-background1.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
      html,  body,  .container {
      height: 100%;
      width: 100%;
      }
      .container {
      display: table;
      vertical-align: middle;
      }
      .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
      }
      .login-screen-bg {
      background-color: #EFEFEF;
      }
      .panel-git {
      border: 1px solid #d8dee2;
      }
      .panel-git h3 {
      color: #fff;
      }
      .panel-git .panel-heading {
      background-color: #829AA8;
      }
      /* 	.login-widget {
      padding: 15px;
      -moz-box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
      -webkit-box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
      box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
      background-color: #FFF;
      } */
      /* .login .panel-footer {
      border-top: 0;
      margin-top: 0px;
      padding: 10px 20px 20px;
      }
      .login .panel-heading {
      border: 0 none;
      padding: 15px 15px 15px;
      }
      .login .panel-body {
      background-color: #485563;
      color: #FFF;
      } */
      .login .division {
      float: none;
      margin: 0 auto 18px;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 100%;
      }
      .login .division .line {
      border-top: 1px solid #DFDFDF;
      position: absolute;
      top: 10px;
      width: 36%;
      }
      .login .division .line.l {
      left: 0;
      }
      .login .division .line.r {
      right: 0;
      }
      .login .division span {
      color: #000;
      font-size: 17px;
      }
      .login .box .social {
      float: none;
      margin: 0 auto 30px;
      text-align: center;
      }
      .login .social .circle {
      background-color: #EEEEEE;
      color: #FFFFFF;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      display: inline-block;
      margin: 0 17px;
      padding: 15px;
      }
      .login .social .circle .fa {
      font-size: 16px;
      }
      .login .social .facebook {
      background-color: #455CA8;
      color: #FFFFFF;
      }
      .login .social .google {
      background-color: #F74933;
      }
      .login .social .github {
      background-color: #403A3A;
      }
      .login .facebook:hover {
      background-color: #6E83CD;
      }
      .login .google:hover {
      background-color: #FF7566;
      }
      .login .github:hover {
      background-color: #4D4D4d;
      }
      .login .btn-login {
      background-color: #00BBFF;
      border-color: #00BBFF;
      border-width: 0;
      color: #FFFFFF;
      display: block;
      margin: 0 auto;
      padding: 15px 50px;
      text-transform: uppercase;
      width: 100%;
      }
      .login .btn-login:hover{
      background-color: #00A4E4;
      color: #FFFFFF;
      }
      .login .form-control {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
      -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
      box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
      color: #FFFFFF;
      }
      .login .form-control:hover {
      background-color: rgba(0, 0, 0, .16);
      }
      .login .form-control:focus {
      -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
      -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
      background-color: rgba(0, 0, 0, 0.23);
      color: #FFFFFF;
      }
      .panel-default {
      opacity: 0.9;
      margin-top:30px;
      }
      .form-group.last {
      margin-bottom:0px;
      text-align: center;
      }
      .login-screen-bg {
      background-color: #EFEFEF;
      }
    </style>
  </head>
  <body class="login-screen-bg login">
    <div class="container">
      <div class="row vertical-center-row">
        <div class="col-md-4 col-center-block">
          <div>
            <div class="panel panel-default">
              <div class="panel-heading"><span class="glyphicon glyphicon-lock"></span> ĐĂNG NHẬP</div>
              <div class="panel-body">
                <div class="box">
                  <div class="content">
                    <div class="social"><a class="circle github" href="/auth/twitter"><i class="fa fa-twitter fa-fw"></i></a><a class="circle google" id="google_login" href="/auth/google"><i class="fa fa-google-plus fa-fw"></i></a><a class="circle facebook" id="facebook_login" href="/auth/facebook"><i class="fa fa-facebook fa-fw"></i></a></div>
                    <div class="division">
                      <div class="line l"></div><span>hoặc</span>
                      <div class="line r"></div>
                    </div>
                    <div class="error"></div>
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <div class="form loginBox" style="display: block">
                      <form class="form-horizontal" role="form" method="POST" action="/login">
                        <div class="form-group">
                          <label class="col-sm-3 control-label"> Username</label>
                          <div class="col-sm-9">
                            <input class="form-control" id="inputEmail3" placeholder="tonituan123" required="" type="text" name="username">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label" for="inputPassword3"> Password</label>
                          <div class="col-sm-9">
                            <input class="form-control" id="inputPassword3" placeholder="Mật khẩu" required="" type="password" name="password">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="remember" value="true" checked="checked">Nhớ thông tin
                              </label>
                            </div>
                            <div class="forgot">
                              <label><a href="http://dictionary.com/">
                                  <!-- <button type="reset" class="btn btn-default btn-sm">-->Quên mật khẩu?
                                  <!-- </button>--></a></label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group last">
                          <div class="col-sm-offset-3 col-sm-6">
                            <button class="btn btn-success btn-sm" type="submit"> Đăng nhập</button><a href="/">
                              <button class="btn btn-default btn-sm"> Đóng</button></a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">Bạn chưa có tài khoản? <a href="/register">Đăng ký</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
