<!DOCTYPE html>
<html lang="en">
<% include head %>
<head>
  <script src='js/local/mainpage.js', type='text/javascript'></script>
  <script src='js/typeahead.min.js', type='text/javascript'></script>
  <script src='js/local/typeahead.js', type='text/javascript'></script>
  <link rel="stylesheet" type="text/css" href="css/local/mainpage.css">
  <link rel="stylesheet" type="text/css" href="css/local/typeahead.css">
  <title>HomePage</title>
</head>
    <% include header %>
    <body class="mycontent">
    	<img src="image/mainpage.png" class="theme-img">
	    <div class="searchframe">
	    	<form action="" method="post" accept-charset="utf-8" class="searchform" >
	                <input class='typeahead' type="text" name="searchword" autofocus="yes" placeholder="Search word" autocomplete="off" class="searchinput holder-languageChange" id="searchbox">
	                <button type="submit" value="submit" class="searchbutton">
	                   <i class="fa fa-search" aria-hidden="true"></i>
	                </button>
	                <div class="selectlang-container">
	                	<div class="myDropdownlist-btn selectlang">
	                		<span class="chooselang" id="chosen">Eng - Viet</span>
	                		<i class="fa fa-language" id="replacedImg" aria-hidden="true"></i>
	                		<i class="fa fa-angle-down" id="smallerArrow" aria-hidden="true"></i>
	                	</div>
	                	<div class="myDropdownlist lang-ddl">
	                		<a id="ev"><i class="fa fa-angle-right" style="color:#003C5A" aria-hidden="true"></i>
	                		Eng - Viet</a>
	                		<a id="ve">
	                		<i class="fa fa-angle-right" style="color:#003C5A" aria-hidden="true"></i> Viet - Eng</a>
	                		<a id="ee">
	                		<i class="fa fa-angle-right" style="color:#003C5A" aria-hidden="true"></i> Eng - Eng</a>
	                	</div>
	                </div>
	        </form>
	    </div>

    	<div class="functionality-1">
    		<h1 class="maintitle">Welcome to Smart Dictionary</h1>
    		<i class="languageChange">Smart dictionary was combined from the high-quality dictionaries with diverfied data. Have some words you need to look up - Smart Dictionary will help you build your vocabulary in a systematic way.</i><br>
    		<i class="languageChange">Check out our currently supported dictionaries:</i>
    		<div class="row intro-dic">
    			<div class="col-sm-4">
    				<a  class="thumb-btn" data-langoption="eng">
  						<img class="mythumbnail" src="image/Eng.jpg" alt="English" >
  						<span>English - English</span>
					</a>
    			</div>
  				<div class="col-sm-4">
  					<a  class="thumb-btn" data-langoption="engviet">
  						<img class="mythumbnail" src="image/EngViet.jpg" alt="English-VietNamese">
  						<span>English - VietNamese</span>
					</a>
  				</div>
  				<div class="col-sm-4">
  					<a class="thumb-btn" data-langoption="vieteng">
  						<img class="mythumbnail" src="image/VietEng.jpg" alt="VietNamese-English">
  						<span>VietNamese - English</span>
					</a>
  				</div>
    		</div>

    		<div class="slideshow-container" style="display:none;">

				<div class="mySlides">
				  	<a  class="thumbSlideShow-btn" data-langoption="eng">
  						<img  src="image/Eng.jpg" alt="English" >
				  	</a>
				  	<div class="text">English - English</div>
				</div>

				<div class="mySlides">
				  	<a  class="thumbSlideShow-btn" data-langoption="engviet">
  						<img src="image/EngViet.jpg" alt="English-VietNamese">
  				    </a>
				    <div class="text">English - VietNamese</div>
				</div>

				<div class="mySlides">
				  	<a class="thumbSlideShow-btn" data-langoption="vieteng">
  						<img src="image/VietEng.jpg" alt="VietNamese-English">
  					</a>
				  	<div class="text">VietNamese - English</div>
				</div>

				<a class="prev">&#10094;</a>
				<a class="next">&#10095;</a>

			</div>
			<br>

			<div class="dots-container" style="display:none;">
				<span class="dot" data-index="0"></span>
				<span class="dot" data-index="1"></span>
				<span class="dot" data-index="2"></span>
			</div>

    	</div>

    	<div class="functionality-2">
    		<h3 class="languageChange subtitle">+Having problems with find the exact meaning in certain contexts?</h3>
    		<p style="display:inline;" class="languageChange">Don't worry! Smart Dictionary will help you get rid of it with its </p>
    		<a href="#" style="display:inline;" class="languageChange">Sentence parsing</a>
    		<br>
    		<p class="languageChange">Enter your sentence or paragraph, the system will divide it into meangingful words and show the meanging of words based on the sentence/paragraph's context.</p>
    		<h3 class="languageChange subtitle">+Don't just search new words, improve your vocabulary</h3>
    		<p style="display:inline;" class="languageChange">Smart Dictionary allow you to easily memorize words by adding it to your word lists and revising them with our quizs. </p>
    		<a href="#" style="display:inline;" class="languageChange">Login now</a>
    		<p style="display:inline;" class="languageChange"> to use these features.</p>
    	</div>
    </body>
    <% include footer %>
</html>
