doctype html
html
  head
    title Node Authentication
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    style.
      body    { padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile Page
        a.btn.btn-default.btn-sm(href='/logout') Logout
      .row
        // LOCAL INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user
               Local
                p                
                  strong id: #{user.id}
                  br
                  strong token: #{user.token}
                  br
                  strong email: #{user.email}
                  br
                  strong name: #{user.name}
