/*#quiz{
  background-color: rgb(255, 209, 0);
  width: 100%;
}

.components{
    padding-top: 50px;
}

#score-panel{
  width: 30%;
  font-size: 15px;
}

#score-panel .val{
  float : right;
}

#score-panel label{
  font-weight: 300;
}

#score-panel .gscore{
    color: #539007;
    font-size: 18px;
}

.title{
  color: black;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 1em 0;
}

.beeform{
  position: relative;
}

.components h2{
  font-size: 1.1em;
  padding-bottom: .25em;
  margin: 0 0 .5em 0;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

#question-panel{
  border-radius: 3px;
  padding: 24px 20px 75px 20px;
  background-color: white;
  box-shadow: 0px 0 4px 4px rgba(0,0,0,0.2);
}

.components .beeform{
  position: relative;
}

.beeform .guessbox{
  position: absolute;
  left: 110px;
  right: 90px;
  top: 3px;
}

.components .green{
  background-color: #4db538;
}

.components button{
  text-transform: uppercase;
  background-color: #999;
  line-height: 3em;
  outline: 0;
  border-radius: 3px;
  background-image: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  height: auto;
  font-size: 11px;
  font-family: 'open sans', sans-serif;
  text-decoration: none!important;
  padding: 0 1em;
}

#guessWord{
    font-size: 14px;
    line-height: 2.5em;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 35px;
    padding: 0 .5em;
    width: 100%;
}

input{
  background: white;
  user-select: text;
  cursor: auto;
}

.components .red{
  background-color: #b23737;
}

.components .action{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#playword{
  float: left;
}

#spellit{
  float: right;
}

#def-panel h3{
  position: relative;
  margin: .25em 0;
  padding: 0 0 0 30px;
  min-height: 35px;
  font-size: 14px;
  line-height: 1.5em;
}
#def-panel .pos{
  position: absolute;
  top: 4px;
  color: white;
  left: 0;
  font-style: italic;
  height: 18px;
  width: 18px;
  line-height: 16px;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px white;
  font-weight: normal;
  text-align: center;
}
#def-panel .pos_n{
  background-color: #e3412f;
}*/

#wrapper{
  background-color: #b23737;
}

.scorepanel{
  width: 22%;
  float: left;
}

.scorepanel .val{
  float:right;
  font-weight: bold;
  smargin-bottom: 2px;
}

.scorepanel .stats{
  float: left;
  margin: 0 0 2px 0;
  width: 100%;
}

.scorepanel .gscore{
  color: #539007;
  font-size: 18px;
}

.quizpanel{
  width: 44%;
  float: left;
}

#playword{
  float: left;
}

.green{
  background-color: #4db538;
}

.red{
  background-color: #4db538;
}

#spellit{
  float: right;
}

#components button{
  text-transform: uppercase;
  background-color: #999;
  line-height: 3em;
  outline: 0;
  border: 0;
  border-radius: 3px;
  background-image: none;
  color: white;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  transition: all .5s ease 0;
  -moz-transition: all .5s ease 0;
  -webkit-transition: all .5s ease 0;
  -ms-transition: all .5s ease 0;
  text-decoration: none!important;
  height: auto;
  font-family: 'open sans',sans-serif;
  padding: 0 1em;
}

#guessword{
  font-size: 14px;
  line-height: 2.5em;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: 0;
  height: 33px;
  padding: 0 .5em;
  width: 100%;
}

.defpanel{
  width: 22%;
  float: left;
}

h2{
  border-bottom: 1px solid rgba(0,0,0,.5);
}
