.tt-hint{
  color: white;
}
/*.tt-query{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}*/
.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
}

.tt-query, .tt-hint {
  float: left;
  width: 68%;
  border: none;
  outline: none;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
}

.tt-menu {
    background: white;
    width: 100%;
}

.tt-dropdown-menu{
    width: 100%;
    margin-top: 6px;
    text-align: left;
    padding: 8px 0px;
    overflow-y: auto;
    background-color: #f1f2f7;;
    border-left: 2px solid #054767;
    border-right: 2px solid #054767;
    border-bottom: 2px solid #054767;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border: 2px solid rgba(0, 0, 0, 0.2);*/
    /*-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion{
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e9ecf2;
}

.twitter-typeahead{
  float: left;
	width: 68%;
	border: none;
	outline: none;
	border-right: 1px solid;
	border-radius: 2px;
	font-size: 24px;
	font-family: "Times New Roman", Times, serif;
	display: inline-block;
	margin-top: 7px;
}

/*.typehead .tt-menu,
.typehead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
}*/

.tt-suggestion.tt-is-under-cursor{
background-color: #0097cf;
color: #ffffffff;
}

.tt-suggestion p{
margin: 0;
}
